html{
    font-size: 10px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    flex-direction: column;
    
}

h1 {
    font-weight: normal;
    color: rgb(252, 148, 165);
}

h2 {
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#recipeContainer > div > div > p {
    font-size: 13px;
    color: rgb(80, 80, 80);
}

#recipeContainer > div {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: white;
    box-shadow: 0 1rem 7rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: 2rem;
    
}

#recipeContainer > div > div {
    width: 100%;
}

#recipeContainer > div > div > h1 {
    font-weight: normal;
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    
}

#recipeContainer > div > div > p {
    font-size: 1.5rem;
    color: grey;
}

#recipeContainer > div > div > div > img {
    width: 4%;
    float: right;
    margin-top: 75px;
    opacity: 25%;
    cursor: pointer;
    border-radius: 1rem;
}

#recipeContainer > div > div > div > img:hover {
    opacity: 100%;
    cursor: pointer;
}

@media (min-width: 601px) and (max-width: 1024px) {
    #recipeContainer > div {
        width: fit-content;
        
    }

    #recipeContainer > div > div > div > img {
        width: 5%;
        margin-top: 16px;
    }
}

@media (max-width: 600px) {
    #recipeContainer > div{
        width: fit-content;
    }

    #recipeContainer > div > div > div > img {
        width: 7%;
        margin-top: 16px;
    }
}