* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background:rgb(255, 245, 234);
}
.container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.burgerMenu {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

nav ul li a:hover {
    color: rgb(252, 148, 165);
}