h1 {
    font-weight: normal;
    color: rgb(252, 148, 165);
}

h2 {
    font-weight: normal;
    color: rgb(80, 80, 80);
}

#neuesRezept > div > div > p {
    font-size: 13px;
    color: rgb(80, 80, 80);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container2 {
    width: 400px;
    height: fit-content;
    margin: 18px;
    padding: 36px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: white;
    flex-direction: row;
    
}

.container3 {
    width: 790px;
    height: fit-content;
    margin: 18px;
    padding: 36px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: white;
    flex-direction: row;
    
}

.form__title {
    margin-bottom: 36px;
    text-align: center;
}

.form__title__2 {
    margin-top: 40px;
    margin-bottom: 36px;
    text-align: center;
}

.form__input-group {
    margin-bottom: 10px;    /*sorgt für Abstand zwischen den Eingabefeldern*/
}

.form__input {
    display: block;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    outline: none;
    background: rgb(248, 248, 248);
}

.form__input:focus {
    border-color: pink;
    background: white;
}


.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: lightpink;
}

.form__button:hover {
    background: rgb(252, 148, 165);
}

.form__text {
    text-align: center;
}

button {
    width: 90px;
    border: 0;
    padding: 8px 6px;
    font-size: 12px;
    color: white;
    background: lightpink;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgb(252, 148, 165);
}
