* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.title {
    position: relative;
    margin-left: 50px;
}

.title h2 {
    font-size: 55px;
    font-weight: normal;
    color: rgb(80, 80, 80);
}
.title p {
    font-size: 18px;
    color: grey;
}

button {
    width: 150px;
    border: 0;
    padding: 12px 10px;
    font-size: 18px;
    color: white;
    background: lightpink;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgb(252, 148, 165);
}

.bake {
    width: 100%;
    transform: translateX(-150px)
}

@media only screen and (max-width:800px) {

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .image {
        width: 80%;
        margin-bottom: 5x;
        margin-top: 90px;
    }
    .bake {
        width: 75%;
        transform: translateX(0px);
    }
    
    .title{ 
        margin-left: 0px;
    }

    .title h2{
        font-size: 35px;
    }
    .title p{
        font-size: 14px;
    }
}